* 
{
    box-sizing: border-box;
}

body 
{
    font-family:Arial, Helvetica, sans-serif;
}

/* Style the header */
.header_1 
{
    background-color: #666;
    padding: 30px;
    text-align: center;
    color: white;
}

/* Creates two columns/boxes that float next to eachouter */

nav 
{
    float: left;
    width: 40%;
    background: #ccc;
    padding: 20px;
}
article 
{
    float: left;
    width: 60%;
    background-color: whitesmoke;
    padding: 20px;
}

section:after {
    content:"";
    display: table;
    clear: both;
}

/* Style for the footer */
footer
{
    background-color: wheat;
    padding: 10px;
    text-align: center;
    color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}

.table_1
{
    border: 2px solid rgb(161, 34, 34);
    padding: 10px;
    border-collapse: collapse
}

.input_1
{
    box-align: center;
}